body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  background: lightyellow;
  text-align: center;
}

.card {
  border: 3px dotted lavender;
  border-radius: 15px;
  padding: 8px 14px;
}


/* when card is directly adjactnt to the other */
.card + .card {
  margin-top:20px;
}

.greet {
  color: purple;
}

.greet h1 {
  font-family: fantasy;
}